body{ 
  margin: 0;
  font-family: "arial", sans-serif;
  color: #000000;
  
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.topbar{
  margin: auto;
  display: block;
  width: 100%;
  height: 50px;
}

.left{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  width: 50%;
  height: 50px;
}

.topbar a:hover{
  text-decoration: underline;
}

.left > a, .right > a{
  padding-left: 20px;
  text-decoration: none;
  font-size: 12px;
  color: inherit;
}

.right{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-right: 20px;
  height: 50px;
}

.right > button {
  cursor: default;
  margin-left: 20px;
  padding: 0 12px 0 12px;
  width: 70.5px;
  height: 31px;
  font-weight: bold;
  background-color:#4387fd;
  border: transparent;
  color: #ffffff;
  border-radius: 2px;
}


.right > button{
  background-color: #4683ea;
  outline-width: 0;
}

.right > button:focus{
   background-color:#3a73d4;  
   transition: 0.2s;
}

.right > button:active {
    background-color:#3a73d4;
    outline: 0;
    transition: 1s;
}


.right > a > img{
    opacity:0.50;
    vertical-align: middle;
}

.right > a > img:hover{
    opacity: 1;
}


.blank{
  margin: auto;
  width: 100%;
  height: 100px;
}


.google{
  position: relative;
  display: block;
  width: 50%;
  height: auto;
  margin: auto;
}


.google > img{
  display: block;
  margin-left: auto;
  margin-right: auto
}


.searchbar{
  height: 50px;
  margin: 25px 0 10px 0;
}


.searchbar > input{
  width: 582px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  
}

input{
 outline-width: 0;
 padding: 20px;
}

 .searchbar > input:hover{
   border-color: rgba(223,225,229,0);
   box-shadow: 0 1px 6px rgba(32,33,36,.28);
  
}

.search-buttons{
  width: 100%;
  text-align: center;
}

.sbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}

.sbutton:hover{
  border-color: #c4c4c4;
}


.footer{
  position: fixed;
  bottom: 0;
  text-align: left;
  font-family: "arial", sans-serif;
  font-size: 15px;
  color: #0000008A;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer0{
  position: relative;
  width:100%;
  height: 40px;
  background: #f2f2f2;
  line-height: 39px;
  border-top: 1px solid #dadce0;
  padding-left: 30px;
} 


.footer1{
  position: relative;
  bottom:0;
  left:0;
  display: block;
  width:100%;
  height: 40px;
  background-color: #f2f2f2;
  line-height: 40px;
  border-top: 1px solid #dadce0;
  padding-left: 30px;
}


.fleft{
    float: left;
    text-align: left;
}

.fright{
  position: absolute;
  display: block;
  right: 0;
  float: right;
  margin-right: 10px;
  text-align: right;
}

.footer1 > span > a{
  text-align: left;
  font-family: "arial", sans-serif;
  font-size: 15px;
  color: #0000008A;
  padding: 0 25px 0 0;
  text-decoration: none;
}

.footer1 > span > a:hover{
  text-decoration: underline;
}

@media(max-width:612px){
  .footer1{
    height: 120px;
    display: block;
    background-color: #f2f2f2; 
    }
  .footer1 > span > a{
    font-size: 12px;
    display:flex;
    flex-direction: column;
  }
}


@media(max-width:560px)
{
  .google > img{
    width:100%;
  }
  .searchbar > input{
    width:100%;
  }
  
}

@media(max-width:360px){
   .topbar{
    display: none;
  } 
}
